pyautogen>=0.2.19
ipython
huggingface_hub
matplotlib

# financial libraries
finnhub-python
yfinance
mplfinance
backtrader
sec_api

# data handling
numpy
pandas
pyPDF2
reportlab

# packaging
setuptools>=41.4.0
wheel>=0.33.6

# historical data
tushare

pandas_datareader